RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=app-password

RabbitMq__Enabled=true
RabbitMq__HostName=rabbitmq
RabbitMq__Port=5672
RabbitMq__UserName=app
RabbitMq__Password=app-password
RabbitMq__Exchange=games_challenges
RabbitMq__ExchangeType=topic
RabbitMq__AllowPublishFailures=true

Jwt__Issuer=games-challenges-app
Jwt__Audience=games-challenges-clients
Jwt__Secret=change-me-to-a-long-random-secret
Jwt__AccessTokenMinutes=60

SteamImport__BaseUrl=https://partner.steam-api.com
SteamImport__ApiKey=B21AB6A11EC8822E3EF9F6786366F160
