POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
DB_HOST=games-db
DB_PORT=5432
ConnectionStrings__GamesDb=Host=games-db;Port=5432;Database=db;Username=user;Password=pass

REDIS_HOST=games-redis
REDIS_PORT=6379
