# DB
POSTGRES_DB= # example: challenges
POSTGRES_USER= # example: challenges
POSTGRES_PASSWORD= # example: challenges

MIGRATIONS_DB_URL= # example: postgresql://challenges:challenges@challenges-db/challenges
DB_URL= # example: postgresql+asyncpg://challenges:challenges@challenges-db/challenges

# Cache
REDIS_URL= # example: redis://challenges-redis/0
