POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
DB_HOST=user-db
DB_PORT=5432
ConnectionStrings__UsersDb=Host=user-db;Port=5432;Database=db;Username=user;Password=pass

REDIS_HOST=users-redis
REDIS_PORT=6379

JWT_SECRET=change-me
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800
